@tailwind base;
@tailwind components;
@tailwind utilities;

.btn-yellow{
  @apply btn bg-[#fbea07] border-none rounded-none
}
.active{
  @apply text-[#fbea07] font-semibold
}
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}